<div
class="topbar-container fixed mt-5 flex flex-wrap z-5 justify-between w-full"
>
<div
  class="TopBar flex mx-3 lg:mx-6 xl:mx-6 mt-1 justify-content-between"
  style="background-color: #2A2F3D;"
>
  <div class="flex ml-2 align-items-center">
    <img
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjYzNjM2MzIiBkPSJNMTAuMjUgNkEyLjI1IDIuMjUgMCAwIDAgOCA4LjI1djEuMjNjMCAxLjE3Ni43MTYgMi4yMzMgMS44MDcgMi42N2wzLjg5MyAxLjU1N2MuMzMyLjEzMy41NS40NTUuNTUuODEydjEuMjMxQS4yNS4yNSAwIDAgMSAxNCAxNmgtMy43NWEuMjUuMjUgMCAwIDEtLjI1LS4yNXYtLjMxMmExIDEgMCAxIDAtMiAwdi4zMTJBMi4yNSAyLjI1IDAgMCAwIDEwLjI1IDE4SDE0YTIuMjUgMi4yNSAwIDAgMCAyLjI1LTIuMjV2LTEuMjNhMi44NzUgMi44NzUgMCAwIDAtMS44MDctMi42N2wtMy44OTMtMS41NTdhLjg3NS44NzUgMCAwIDEtLjU1LS44MTJWOC4yNWEuMjUuMjUgMCAwIDEgLjI1LS4yNUgxNGEuMjUuMjUgMCAwIDEgLjI1LjI1di4zMTNhMSAxIDAgMSAwIDIgMFY4LjI1QTIuMjUgMi4yNSAwIDAgMCAxNCA2eiIvPjwvc3ZnPg=="
      style="width: 70%;height: 70%;"
      
      
    />
    <h2 style="font-family: 'Signate Grotesk', sans-serif;color: #E5E7EB;letter-spacing: 1px;" class="m-0 p-0 w-full ">Shivansh</h2>
  </div>

  <div
    class="hidden md:flex lg:flex xl:flex gap-5 mt-3 justify-content-center mr-3 align-items-center"
  >
    
    <div class="nav_bar_item" (click)="routeNavigator('home')">Home</div>
    <div class="nav_bar_item" (click)="routeNavigator('about-us')">
      About Me
    </div>
    <div class="nav_bar_item" (click)="routeNavigator('work')">Work</div>
    <div class="nav_bar_item" (click)="routeNavigator('contact-us')">
      Contact Me
    </div>
    
  </div>
  

  <div
    class="flex md:hidden lg:hidden xl:hidden mt-3 mr-3 align-content-center"
  >
    <p-drawer [(visible)]="visible" [style]="{'background-color':'#2A2F3D','color':'#E5E7EB'}" [closable]="false">
      <ng-template #header>
        <div
          class="gap-1 w-full"
          style="font-family: &quot;Samsung Sans&quot;; text-align: center"
        >
          <h3>Navigation</h3>
        </div>
      </ng-template>
      <ng-template #content>
        <div
          style="
            font-family: &quot;Nunito&quot;, sans-serif;
            text-align: center;
          "
        >
          <h3 class="mobile_nav_bar_item" (click)="routeNavigator('home')">
            Home
          </h3>
          <h3
            class="mobile_nav_bar_item"
            (click)="routeNavigator('about-us')"
          >
            About Me
          </h3>
          <h3 class="mobile_nav_bar_item" (click)="routeNavigator('work')">
            Work
          </h3>
          <h3
            class="mobile_nav_bar_item"
            (click)="routeNavigator('contact-us')"
          >
            Contact Me
          </h3>
        </div>
      </ng-template>
      <ng-template #footer>
        <div
          class="gap-1"
          style="font-family: &quot;Samsung Sans&quot;; text-align: center"
        >
          <h3 class="m-0 p-0 mt-2">Shivansh Goel</h3>
          <h4 class="m-0 p-0 mt-2">FullStack Developer</h4>
          <h5 class="m-0 p-0 mt-2">B.Tech CSE AIML</h5>
        </div>
      </ng-template>
    </p-drawer>
    <p-button
      size="large"
      (click)="visible = true"
      [style]="{ 'background-color': 'transparent','color': '#D1D5DB', border: '0px' }"
      icon="pi pi-align-right"
    />
    
  </div>
</div>
</div>