@import url('https://fonts.cdnfonts.com/css/signate-grotesk');
.TopBar {
    height: 4.4rem;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-radius: 20px;
    box-shadow:
      rgba(15, 30, 37, 0.15) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
  .nav_bar_item {
    padding: 11px 16px;
    font-weight: 300;
  
    font-family: "Samsung Sans", sans-serif;
    font-size: 13px;
    border-radius: 28px;
    color: #E5E7EB;
    background-color: #2D3748;
    margin-bottom: 14px;
  }
  
  .nav_bar_item:hover {
    cursor: pointer;
    background-color: rgb(34, 34, 34);
  }
  
  .active {
    color: #000000;
    background-color: rgb(152 152 152);
    font-weight: 400;
  }
  
  .Home__Section1 {
    height: 1000px;
  }