<div>
  <div class="topbar-container fixed flex flex-wrap z-5 justify-between w-full">
    <app-top-bar-nav></app-top-bar-nav>
  </div>
  <div class="hidden lg:flex align-content-center z-3">
    <div class="mt-8 mx-6 w-full">
      <div class="mt-6 work_Top pt-1 px-4 animate__animated animate__flipInX">
        <h1 class="work_Top_Content">
          My expertise lies in crafting innovative, scalable web solutions that
          enable businesses and startups to achieve their goals through seamless
          user experiences and cutting-edge technology.
        </h1>
      </div>
    </div>
  </div>
  <div class="hidden lg:flex align-content-center z-3 w-full">
    <div class="flex w-full">
      <div class="flex mt-4 ml-4 w-full">
        <div class="col-2 p-0 pl-4">
          <div
            class="work_middle_Title animate__animated animate__lightSpeedInLeft animate__delay-1s"
          >
            My
          </div>
          <div
            class="work_middle_Title animate__animated animate__lightSpeedInLeft animate__delay-1s"
          >
            Works
          </div>
        </div>
        <div class="w-full mr-6 mb-6">
          <div
            class="works_section p-3 w-full animate__animated animate__backInRight animate__delay-1s"
          >
            <img
              class="work_img"
              src="../../../assets/TodoAppLanding.png"
              width="100%"
            />
            <div class="flex justify-content-between mx-3 align-itens-center">
              <h3 class="work_title p-0 m-0 my-3">Todo Management App</h3>
              <a
                class="work_link ml-1 align-content-center"
                href="https://todotify-912e9.web.app/"
                target="_blank"
                ><i class="pi pi-arrow-right"></i
              ></a>
            </div>
          </div>
          <div class="flex gap-4 mt-4 w-full">
            <div
              class="works_section p-3 w-full animate__animated animate__backInLeft animate__delay-1s"
            >
              <img
                class="work_img"
                src="../../../assets/QuizAppLanding.png"
                width="100%"
              />
              <div class="flex justify-content-between mx-3 align-itens-center">
                <h3 class="work_title p-0 m-0 my-3">AI Quiz App</h3>
                <a
                  class="work_link ml-1 align-content-center"
                  href="https://quizify-tau-beryl.vercel.app/"
                  target="_blank"
                  ><i class="pi pi-arrow-right"></i
                ></a>
              </div>
            </div>
            <div
              class="works_section p-3 w-full animate__animated animate__backInRight animate__delay-1s"
            >
              <img
                class="work_img"
                src="../../../assets/BMAApp.png"
                width="100%"
              />
              <div class="flex justify-content-between mx-3 align-itens-center">
                <h3 class="work_title p-0 m-0 my-3">Book My Ambulance</h3>
                <a
                  class="work_link ml-1 align-content-center"
                  href="https://hackathon40-e51b6.web.app/"
                  target="_blank"
                  ><i class="pi pi-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hidden lg:flex align-content-center z-3 w-full">
    <div class="flex w-full">
      <div class="flex mt-2 ml-4 w-full">
        <div class="col-2 p-0 pl-3">
          <div
            class="work_middle_Title animate__animated animate__lightSpeedInLeft animate__delay-1s"
          >
            My
          </div>
          <div
            class="work_middle_Title animate__animated animate__lightSpeedInLeft animate__delay-1s"
          >
            Experiences
          </div>
        </div>
        <div class="w-full mr-6 mb-6">
          <div
            class="p-3 gap-4 works_section w-full animate__animated animate__flipInX animate__delay-1s"
            style="text-align: center"
          >
            <div class="w-full" style="font-family: &quot;Samsung Sans&quot;">
              <img
                class="work_img"
                src="https://media.licdn.com/dms/image/v2/D563DAQHR_KWV_hDNNQ/image-scale_191_1128/B56ZbU92QNGgAc-/0/1747329706847/tedforge_solutions_private_limited_cover?e=1749830400&v=beta&t=ww8PJXbv8UE2Jzw6TEPWbp1wSf7lhjjBRkFXzDiTK_U"
                width="100%"
              />
              <div
                class="flex justify-content-between align-items-center mt-2 mx-2 mb-2"
              >
                <h3 class="text-bold m-0">
                  Full Stack Developer - Level 1 Intern
                </h3>
                <span class="text-italic text-sm">Dec 2023 – Present</span>
              </div>
              <h3 class="text-bold">TedForge Solutions Pvt. Ltd.</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex lg:hidden align-content-center z-3">
    <div class="mt-8 mx-3 w-full">
      <div
        class="mt-6 work_Top_mobile pt-1 px-4 animate__animated animate__flipInX"
      >
        <h1 class="work_Top_Content_mobile">
          I specialize in creating innovative, scalable web solutions to help
          businesses and startups succeed with seamless user experiences and
          advanced technology.
        </h1>
      </div>
    </div>
  </div>

  <div class="flex lg:hidden align-content-center z-3 w-full">
    <div class="mt-4 ml-4 mb-4 w-full">
      <div class="p-0 pl-0 mb-4">
        <div
          class="work_middle_Title animate__animated animate__lightSpeedInLeft animate__delay-1s"
        >
          My
        </div>
        <div
          class="work_middle_Title animate__animated animate__lightSpeedInLeft animate__delay-1s"
        >
          Work
        </div>
      </div>
      <div class="aboutUS_middle_assistance_Div w-full flex gap-4 grid mr-6">
        <div
          class="works_section p-2 w-full mr-2 animate__animated animate__backInDown animate__delay-1s"
        >
          <img
            class="work_img"
            src="../../../assets/TodoAppLanding.png"
            width="100%"
          />
          <div class="flex justify-content-between mx-2 align-itens-center">
            <h3 class="work_title_mobile p-0 m-0 my-3">Todo Management App</h3>
            <a
              class="work_link ml-1 align-content-center"
              href="https://todotify-912e9.web.app/"
              target="_blank"
              style="color: #d1d5db"
              ><i class="pi pi-arrow-right"></i
            ></a>
          </div>
        </div>
        <div
          class="works_section p-2 w-full mr-2 animate__animated animate__backInDown animate__delay-1s"
        >
          <img
            class="work_img"
            src="../../../assets/QuizAppLanding.png"
            width="100%"
          />
          <div class="flex justify-content-between mx-2 align-itens-center">
            <h3 class="work_title_mobile p-0 m-0 my-3">AI Quiz App</h3>
            <a
              class="work_link ml-1 align-content-center"
              href="https://quizify-tau-beryl.vercel.app/"
              target="_blank"
              style="color: #d1d5db"
              ><i class="pi pi-arrow-right"></i
            ></a>
          </div>
        </div>
        <div class="works_section p-2 w-full mr-2">
          <img class="work_img" src="../../../assets/BMAApp.png" width="100%" />
          <div class="flex justify-content-between mx-2 align-itens-center">
            <h3 class="work_title_mobile p-0 m-0 my-3">
              Book My Ambulance (Prototype)
            </h3>
            <a
              class="work_link ml-1 align-content-center"
              href="https://hackathon40-e51b6.web.app/"
              target="_blank"
              style="color: #d1d5db"
              ><i class="pi pi-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex lg:hidden align-content-center z-3 w-full">
    <div class="mt-4 ml-4 mb-4 w-full mr-2">
      <div class="p-0 pl-0 mb-4">
        <div class="work_middle_Title">My</div>
        <div class="work_middle_Title">Experience</div>
      </div>
      <div class="aboutUS_middle_assistance_Div w-full flex gap-4 grid mr-6">
        <div class="works_section p-2 w-full">
          <img
            class="work_img"
            src="https://media.licdn.com/dms/image/v2/D563DAQHR_KWV_hDNNQ/image-scale_191_1128/B56ZbU92QNGgAc-/0/1747329706847/tedforge_solutions_private_limited_cover?e=1749830400&v=beta&t=ww8PJXbv8UE2Jzw6TEPWbp1wSf7lhjjBRkFXzDiTK_U"
            width="100%"
          />
          <div
            style="
              text-align: center;
              font-family: &quot;Samsung Sans&quot;, sans-serif;
            "
          >
            <div
              class="flex justify-content-between align-items-center mt-2 mx-2 mb-2"
            >
              <h4 class="text-bold m-0">
                FullStack Developer - Level 1 Intern
              </h4>
              <span class="text-italic text-sm">Dec 2023 – Present</span>
            </div>
            <h4 class="text-bold">TedForge Solutions Pvt. Ltd.</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
