#animated-text {
  display: inline-block;
  font-size: 24px;
  font-weight: 200;

  font-family: "Samsung Sans", sans-serif;
}

#cursor {
  font-size: 25px;

  font-family: "Samsung Sans", sans-serif;
  font-weight: 400;
}
