<div>
  <div 
  class="topbar-container fixed  flex flex-wrap z-5 justify-between w-full"
><app-top-bar-nav></app-top-bar-nav></div>
  <div class="hidden lg:flex z-3">
    <div class="flex lg:col-6 z-1 mt-8">
      <div class="mt-8 ml-6">
        <div class="ml-8 mt-5">
          <div class="TagLine__div flex justify-content-center ml-2 pl-2">
            Open to Work
          </div>
          <br />
          <div><h1 class="Introduction__Heading">Hi, I'm a</h1></div>
          <div><h1 class="Introduction__Heading">FullStack</h1></div>
          <div><h1 class="Introduction__Heading mb-3">Developer</h1></div>
          <hr />
          <div class="Introduction_Content ml-2 mt-3">
            Who: <app-animated-text></app-animated-text>
          </div>
          <br />
          <br />
          <div class="flex gap-3 ml-2">
            <a href="https://drive.google.com/file/d/1Gj9bnm6lRKfAhSwC_fRDPhoeGh8mLg1b/view?usp=sharing" target="_blank"><button
              class="ContactUSBotton mt-2"
              
            >
              Resume
            </button>
          </a>
            <button
              class="ContactUSBotton mt-2"
              (click)="router.navigate(['contact-us'])"
            >
              Contact Us
            </button>
            
          </div>
        </div>
      </div>
    </div>
    <div class="flex col-5 z-1 ml-3 mt-8">
      <div class="mt-8" >
        <div class="m-8 mt-8">
          <div class="Top_Introduction flex">
            <div class="Top_Introduction_Intro_1" style="text-align: center">
              <div class="Top_Introduction_Intro_1_Name">Shivansh Goel</div>
              <div>
                <small style="font-size: 12px"
                  >Full Stack Developer (Aspiring)</small
                >
              </div>
              <div><small style="font-size: 12px">B. Tech CSE </small></div>
              <div><small style="font-size: 12px">India</small></div>
              <hr />
              <div>
                <small style="font-size: 12px"
                  >Skilled in WebStack, Angular, React, Node.js, Python and SQL
                  Database.</small
                >
              </div>
            </div>
            <div class="Top_Introduction_Intro_2 flex flex-wrap p-0 m-0">
              <img
                style="object-fit: cover; border-radius: 20px; height: 100%"
                src="https://img.freepik.com/premium-photo/tech-boy_847279-13.jpg?w=2000"
                width="100%"
                alt=""
              />
            </div>
          </div>
          <br />
          <div class="Bottom_Introduction flex">
            <div class="Bottom_Introduction_Intro_1">
              <div class="Bottom_Introduction_Intro_1_Name">
                Crafting Digital Excellence
              </div>
              <small style="font-size: 12px; padding-top: -1px"
                >Building Seamless Web Solutions</small
              >
            </div>
            <div class="Bottom_Introduction_Intro_2 flex flex-wrap p-0 m-0">
              <app-social-apps></app-social-apps>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex z-3 ml-3 lg:hidden xl:hidden md:hidden">
    <div class="mt-8 ">
      <div class="mt-6">
        <div class="TagLine__div flex justify-content-center pl-2">
          Open to Work
        </div>
        <br />
        <div><h1 class="Introduction__Heading__Mobile">Hi, I'm a</h1></div>
        <div><h1 class="Introduction__Heading__Mobile">FullStack</h1></div>
        <div><h1 class="Introduction__Heading__Mobile mb-3">Developer</h1></div>
        <hr />
        <div class="Introduction_Content ml-1 mt-3">
          Who: <br /><app-animated-text></app-animated-text>
        </div>
        <div class=" w-full flex justify-content-center align-items-center">
          <a href="https://drive.google.com/file/d/1Gj9bnm6lRKfAhSwC_fRDPhoeGh8mLg1b/view?usp=sharing" target="_blank"><button
            class="ContactUSBotton__Mobile mt-4 "
          >
            Resume
          </button>
        </a>
          

        </div>
        <div class=" w-full flex justify-content-center align-items-center">
          
          <button
            class="ContactUSBotton__Mobile mt-2 "
            (click)="router.navigate(['contact-us'])"
          >
            Contact Me
          </button>
        </div>
        <div class=" flex w-full mt-3 mb-3">
          <div class="Top_Introduction_Intro_1 w-full" style="text-align: center">
            <div class="Top_Introduction_Intro_1_Name">Shivansh Goel</div>
            <div>
              <small style="font-size: 12px"
                >Full Stack Developer (Aspiring)</small
              >
            </div>
            <div><small style="font-size: 12px">B. Tech CSE (AIML)</small></div>
            <div><small style="font-size: 12px">India</small></div>
            <hr />
            <div>
              <small style="font-size: 12px"
                >Skilled in WebStack, Angular, React, Node.js, Python and SQL
                Database.</small
              >
            </div>
          </div>
          
        </div>

       <div class="flex w-full mr-3">
        <div class="Bottom_Introduction_Intro_1 w-full mr-3 pr-2 mb-3">
          <div class="w-full">
            Crafting Digital Excellence
          </div>
          <small style="font-size: 12px; padding-top: -1px"
            >Building Seamless Web Solutions</small
          >
        </div>
       </div>
      </div>
    </div>
  </div>
</div>
