@import url("https://fonts.cdnfonts.com/css/samsung-sans-4");
.TopBar {
  height: 4.4rem;
  width: 100%;
  margin: 0px;
  padding: 0px;
  border-radius: 20px;
  box-shadow:
    rgba(15, 30, 37, 0.15) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.nav_bar_item {
  padding: 11px 16px;
  font-weight: 300;

  font-family: "Samsung Sans", sans-serif;
  font-size: 13px;
  border-radius: 28px;
  color: white;
  background-color: black;
  margin-bottom: 14px;
}

.nav_bar_item:hover {
  cursor: pointer;
  background-color: rgb(34, 34, 34);
}

.active {
  color: #000000;
  background-color: rgb(152 152 152);
  font-weight: 400;
}

.Home__Section1 {
  height: 1000px;
}

.TagLine__div {
  padding: 9px 14px;
  background-color: #34D399;
  color: #E5E7EB;
  font-weight: 700;

  font-family: "Samsung Sans", sans-serif;
  font-size: 13px;
  border-radius: 26px;
  width: 138px;
}

.Introduction__Heading {
  font-size: 94px;
  margin: 0px;
  color: #D1D5DB;
  font-family: "Samsung Sans";
  padding: 0px;
}
.Introduction__Heading__Mobile {
  font-size: 67px;
  margin: 0px;
  color: #D1D5DB;
  font-family: "Samsung Sans";
  padding: 0px;
}

.Introduction_Content {
  font-size: 23px;
  color: #888a8f;
  font-family: "Samsung Sans";
}

.ContactUSBotton {
  padding: 9px 27px 9px 27px;
  font-size: 14px;
  border-radius: 25px;
  background-color: #4B5EAA;
  color: #E5E7EB;
  border: none;

  font-weight: 300;
}


.ContactUSBotton__Mobile {
  padding: 9px 27px 9px 27px;
  font-size: 14px;
  border-radius: 25px;
  border: 1px solid black;
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  font-weight: 300;
}
.ContactUSBotton:hover {
  color: white;
  box-shadow:
    rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px,
    rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.Top_Introduction_Intro_1 {
  width: 188px;
  padding: 9px 12px;
  background-color: #252B42;
  margin-right: 14px;
  color: #E5E7EB; 
  border-radius: 20px;
  height: 210px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-size: 20px;
  font-family: "Samsung Sans";
  font-weight: 300;
}

.Top_Introduction_Intro_2 {
  width: 220px;
  padding: 9px 12px;
  margin-right: 14px;
  border-radius: 20px;
  height: 210px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-size: 20px;
  font-family: "Samsung Sans";
  font-weight: 300;
}

.Top_Introduction_Intro_1_Name {
  font-size: 23px;
  font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.Bottom_Introduction_Intro_1 {
  padding: 9px 12px;
  color: white;
  border-radius: 20px;
  object-fit: cover;
  background-image: url("https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExNjAxcjAzd2F1MnRmaWtkMTJoZjZxMmowa205YWV5MWgyaWFwbWpmeiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/i4jKn7itdV2Tvjzj6Y/giphy.gif");
  height: 130px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-size: 20px;
  font-family: "Samsung Sans";
  font-weight: 300;
}

.Bottom_Introduction_Intro_2 {
  width: 158px;
  padding: 9px 12px;
  margin-right: 14px;
  border-radius: 20px;
  height: 130px;
  font-size: 20px;
  font-family: "Samsung Sans";
  font-weight: 300;
}

.mobile_nav_bar_item {
  padding: 2px 2px;
}
.mobile_nav_bar_item:hover {
  background-color: rgb(221, 233, 233);
  color: #000000;
  border-radius: 20px;
  padding: 2px 2px;
}
