@import url("https://fonts.cdnfonts.com/css/samsung-sans-4");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
.TopBar {
  height: 4.4rem;
  width: 100%;
  margin: 0px;
  padding: 0px;
  border-radius: 20px;
  box-shadow:
    rgba(15, 30, 37, 0.15) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.nav_bar_item {
  padding: 11px 16px;
  font-weight: 300;

  font-family: "Samsung Sans", sans-serif;
  font-size: 13px;
  border-radius: 28px;
  color: white;
  background-color: black;
  margin-bottom: 14px;
}

.nav_bar_item:hover {
  cursor: pointer;
  background-color: rgb(34, 34, 34);
}

.active {
  color: #000000;
  background-color: rgb(152 152 152);
  font-weight: 400;
}

.Home__Section1 {
  height: 1000px;
}
.contactUsDiv {
  border-radius: 20px;
  
  box-shadow: rgba(186, 186, 186, 0.2) 0px 7px 29px 0px;
}

.contactFormDiv {
  border-radius: 20px;
  text-align: center;
  background-color: #252B42;
  box-shadow:
    rgba(15, 30, 37, 0.15) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.contactFormDiv__Title {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: #D1D5DB;
  font-size: 32px;
}

.contactFormDiv__SubTitle {
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  color: #60A5FA;
  font-size: 20px;
}

.ContactUs__Side__Caption {
  font-size: 55px;
  margin: 0px;
  font-family: "Nunito", sans-serif;
  padding: 0px;
}
.ContactUs__Side__Email {
  font-size: 21px;
  margin: 0px;
  color: #60A5FA;
  font-weight: 300;
  font-family: "Samsung Sans", sans-serif;
  padding: 0px;
}

.ContactUs__Side__Email_Mobile{
  font-size: 18px;
  color: #60A5FA;
  margin: 0px;
  font-weight: 300;
  font-family: "Samsung Sans", sans-serif;
  padding: 0px;
}

.ContactUs__Side__Connect {
  background-color: #4db0bf;
  border-radius: 20px;
  
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.social-button {
  border: 2px solid white; /* White border */
  color: white; /* White text */
  font-family: "Nunito", sans-serif;
  border-radius: 50px; /* Rounded corners */
  padding: 10px 20px; /* Padding for button size */
  display: inline-block; /* Inline-block for button behavior */
  font-size: 1.2rem; /* Text size */
  font-weight: bold; /* Bold text */
  text-transform: uppercase; /* Uppercase text */
  white-space: nowrap; /* Prevent text wrapping */
}

/* Individual rotations and positions */
.follow-me {
  transform: rotate(-10deg);
}
.instagram {
  transform: rotate(15deg);
}
.reddit {
  transform: rotate(-5deg);
}
.github {
  transform: rotate(5deg);
}
.linkedin {
  transform: rotate(-15deg);
}
.discord {
  transform: rotate(15deg);
}
.instagram:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  border: 2px solid black;
}
.reddit:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  border: 2px solid black;
}
.github:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  border: 2px solid black;
}
.linkedin:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  border: 2px solid black;
}
.discord:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  border: 2px solid black;
}
/* Emoji styling */
.emoji {
  font-size: 2rem; /* Larger emoji */
  position: absolute; /* Absolute positioning for placement */
}

.contactForm__Input {
  font-size: 17px;
  border-radius: 25px;
  background-color: #374151;
  border: 1px solid #4B5EAA; 
  width: 275px;
  font-family: "Nunito", sans-serif;
    color: #E5E7EB;
  padding: 10px 15px;
}

.contactForm__TextArea {
  font-size: 17px;
  border-radius: 25px;
  border: 1px solid #4B5EAA; 
  background-color: #374151;
  font-family: "Nunito", sans-serif;
    color: #E5E7EB;
  padding: 10px 16px;
}

.contactForm__Button {
  font-size: 17px;
  border-radius: 25px;
  border: 1px solid #5c5c5c;
  background: #d4bed9;
  width: 275px;
  font-family: "Nunito", sans-serif;
  color: black;
  padding: 4px 10px;
  border: 1 px solid black;
}

.contactForm__Input::placeholder,
.contactForm__TextArea::placeholder {
  color: #E5E7EB; /* Soft white */
}


.contactForm__Input_Mobile{
  
  border: 1px solid #4B5EAA; 
  background-color: #374151;
  font-family: "Nunito", sans-serif;
    color: #E5E7EB;
}
.contactForm__Textarea_Mobile{
  
  border: 1px solid #4B5EAA; 
  background-color: #374151;
  font-family: "Nunito", sans-serif;
    color: #E5E7EB;
}

.contactForm__Input_Mobile::placeholder,
.contactForm__Textarea_Mobile::placeholder {
  color: #E5E7EB; /* Soft white */
}