<div>
  <div 
  class="topbar-container fixed  flex flex-wrap z-5 justify-between w-full"
><app-top-bar-nav></app-top-bar-nav></div>
  <div class="hidden lg:flex align-content-center z-3 w-full">
    <div class="mx-6 mt-8 mb-8 w-full">
      <div class="flex mt-7 gap-3 w-full mb-7">
        <div class="p-3 contactUsDiv w-7">
          <div><h1 class="ContactUs__Side__Caption pl-3">Let's</h1></div>
          <div><h1 class="ContactUs__Side__Caption pl-3">Connect</h1></div>
          <div>
            <h1 class="ContactUs__Side__Caption pl-3 mb-3">And Chat</h1>
          </div>
          <div>
            <a
              style="text-decoration: none"
              href="mailto:shivansh.goela12@gmail.com"
              target="_blank"
              ><h1 class="ContactUs__Side__Email pl-3 mb-3">
                {{ "shivansh.goela12@gmail.com "
                }}<i class="pl-4 pi pi-arrow-up-right"></i></h1
            ></a>
          </div>
        </div>
        <div
          class="p-3 ContactUs__Side__Connect flex relative justify-content-center align-items-center w-full"
        >
          <div class="social-button follow-me p-m-2">Follow Me!</div>
          <div class="social-button instagram p-m-2">
            <a
              href="https://www.instagram.com/shivansh07.__/"
              style="text-transform: none; color: white; text-decoration: none"
              target="_blank"
              >Instagram</a
            >
          </div>
          <div class="social-button reddit p-m-2">
            <a
              href="https://www.reddit.com/user/No_Raccoon9567/"
              style="text-transform: none; color: white; text-decoration: none"
              target="_blank"
              >Reddit</a
            >
          </div>
          <div class="social-button github p-m-2">
            <a
              href="https://github.com/Tech-aficionado"
              style="text-transform: none; color: white; text-decoration: none"
              target="_blank"
              >Github</a
            >
          </div>
          <div class="social-button linkedin p-m-2">
            <a
              href="https://www.linkedin.com/in/shivansh-goel-5b2309174/"
              style="text-transform: none; color: white; text-decoration: none"
              target="_blank"
              >Linkedin</a
            >
          </div>
          <div class="social-button discord p-m-2">
            <a
              href="https://discord.com/users/987576131949559859"
              style="text-transform: none; color: white; text-decoration: none"
              target="_blank"
              >Discord</a
            >
          </div>
          <!-- Emoji -->
          <div class="emoji" style="top: 20%; right: 20%">👀😊</div>
          <div class="emoji" style="top: 65%; right: 71%">👀😊</div>
        </div>
      </div>
      <div class="mt-1 w-full bg-black-alpha-90 contactFormDiv p-3">
        <div class="contactFormDiv__Title">
          Engage My FullStack Experience to Elevate Your Project
        </div>
        <div class="contactFormDiv__SubTitle">
          Feel free to contact me if having any question
        </div>
        <div style="text-align: center">
          <div class="flex justify-content-center px-8 align-items-center">
            <input
              class="contactForm__Input mx-2 mt-5"
              placeholder="Enter your Name"
              type="text"
            />
            <input
              class="contactForm__Input mx-2 mt-5"
              placeholder="Enter your Email"
              type="text"
            />
          </div>
          <textarea
            class="w-5 contactForm__TextArea mt-5"
            rows="5"
            placeholder="Enter the message"
            id=""
          ></textarea>
          <br />
          <br />
          <input
            (click)="sendEmail()"
            class="contactForm__Button"
            type="submit"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="flex lg:hidden align-content-center z-3 w-full">
    <div class="mx-3 mt-8 mb-8 w-full">
      <div class=" mt-6  w-full mb-7">
        <div class="p-3 contactUsDiv">
          <div><h1 class="ContactUs__Side__Caption pl-2">Let's</h1></div>
          <div><h1 class="ContactUs__Side__Caption pl-2">Connect</h1></div>
          <div>
            <h1 class="ContactUs__Side__Caption pl-2 mb-3">And Chat</h1>
          </div>
          <div>
            <a
              style="text-decoration: none"
              href="mailto:shivansh.goela12@gmail.com"
              target="_blank"
              ><h1 class="ContactUs__Side__Email_Mobile  mb-3">
                {{ "shivansh.goela12@gmail.com "
                }}<i class="pl-4 pi pi-arrow-up-right"></i></h1
            ></a>
          </div>
          <div class="p-2">
            <app-social-links-round></app-social-links-round>
          </div>
        </div>
        <div class=" contactUsDiv  w-full p-2 mt-6">
          <div style="font-family: 'Samsung Sans', sans-serif;text-align: center;" class=" w-full">
            <h2 style="margin: 0px; padding: 0px;color: #D1D5DB;">Any Query ?</h2>
            <small style="margin-top: 0px; padding-top: 0px; color: #60A5FA;">Feel free to contact</small>
          </div>
          <div style="text-align: center;" class="w-full">
            <input type="text" placeholder="Name" style="border: 1px solid black;" class="contactForm__Input_Mobile border-round-2xl p-2 mt-4 w-9 bg-bluegray-700 border-black-alpha-90 ">
            <input type="email"  placeholder="Email" style="border: 1px solid black;" class="contactForm__Input_Mobile border-round-2xl p-2 mt-2 w-9 bg-bluegray-700 border-black-alpha-90 ">
            <textarea rows="5" cols="23" pTextarea  placeholder="Message" class="contactForm__Textarea_Mobile border-round-2xl p-2 mt-2 w-9 bg-bluegray-700 border-black-alpha-90 "></textarea>
            <br>
            <button class="font-bold mt-2 px-3 py-1 border-round-3xl bg-black-alpha-90" style="border: 1px solid black; ">Submit</button>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
