@import url("https://fonts.cdnfonts.com/css/samsung-sans-4");


.aboutUS_Top {
  
  background-color: #2D3748;
  color: #D1D5DB;
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 24px;
}
.aboutUS_Top_Content {
  font-family: "Samsung Sans";
  font-weight: 600;
  font-size: 30px;
}

.aboutUS_middle_Title {
  font-size: 38px;
  font-family: "Samsung Sans";
  color: #D1D5DB;
  font-weight: 800;
}

.Assit_Showcase {
  width: 50%;
  font-family: "Samsung Sans";
  border: 0px;
  background-color: #252B42;
  color: #E5E7EB;
  box-shadow:
    20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
}

.aboutUS_Top_mobile {
  background-color: #2e9fb1;
  height: 200px;
  background-color: #252B42;
  color: #E5E7EB;
  border-radius: 24px;
}
.aboutUS_Top_Content_mobile {
  font-family: "Samsung Sans";
  font-weight: 600;
  background-color: #252B42;
  color: #E5E7EB;
  font-size: 17px;
}
