@import "primeicons/primeicons.css";
html,
body {
  margin: 0px;
  padding: 0px;

    background-color: #1A1E2A; /* Deep charcoal gray */
    color: #D1D5DB; /* Light gray for main text */

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
